<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find 2wd_robot_description)/urdf/2wd_robot.xacro'"/>

    <!--  Empty World for robot enviorment -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" default="false"/>
        <arg name="use_sim_time" default="true"/>
        <arg name="gui" default="true"/>
        <arg name="headless" default="false"/>
        <arg name="debug" default="false"/>
    </include>

    <!-- Spawn dd_robot into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"  output="screen"
         args="-urdf -param robot_description -model 2wd_robot" />

</launch>
