<launch>
  <!-- Load the 2wd URDF model into the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find 2wd_robot_description)/urdf/2wd_robot.xacro'"/>

   <!-- Start 3 nodes: joint_state_publisher, robot_state_publisher and rviz -->
   <!-- Send Fake Joint Values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true"/>
  </node>

  <!-- Combine Joint Values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Show in RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" />
</launch>
